################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64
/.vs/opapi_usr
/opapi_usr/x64/Debug
/opapi_usr/x64/Release
